@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
nav h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}

.gifImageCont {
    width: 15rem;
    height: auto;
    object-fit: contain;
}
.gifImageCont img {
    width: 100%;
    height: 100%;
}
